---
layout: archive
title: "Playground"
permalink: /playground/
author_profile: true
redirect_from:
- /fun
---
{% include base_path %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
<style>
    .yt {
        background-color: #d50000 !important;
    }
    .bc {
        background-color: #00bf8f !important;
    }
    .btns {
        list-style-type: none;
        padding-inline-start: 0;
    }
    ul {
        padding-inline-start: 0;
    }
    a {
        color: white;
        text-decoration: none !important;
    }
</style>
<ul>
    <li class="btns">
        <button class="mdc-button mdc-button--raised bc">
            <i class="material-icons mdc-button__icon" aria-hidden="true">watch_later</i>
            <span><a href="/playground/binclock">Binary Clock</a></span>
        </button>
    </li>
    {% for post in site.playground %}
    {% case post.title %}
    {% when "YouTube Subscriptions" %}
    <li class="btns">
        <button class="mdc-button mdc-button--raised yt">
            <i class="material-icons mdc-button__icon" aria-hidden="true">live_tv</i>
            <span><a href="{{ post.permalink }}">{{post.title}}</a></span>
        </button>
    </li>
    {% when "Web Magnet" %}
    <li class="btns">
        <button class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon" aria-hidden="true">tv</i>
            <span><a href="{{ post.permalink }}">{{post.title}}</a></span>
        </button>
    </li>
    {% endcase %}
    {% endfor %}
</ul>
<h3> All my fun projects will eventually end up here...</h3>

<h3>Testing Mathjax plugin:</h3>
$ i \hbar \frac{d}{d t}|\Psi(t)\rangle=\hat{H}|\Psi(t)\rangle $
