.page__inner-wrap p {
    font-family: "Lora" !important;
    /*font-family: "Playfair Display" !important;*/
    /*font-family: "Oxygen" !important;*/
    /*font-family: "Raleway" !important;*/
}
.page__inner-wrap h2 {
    font-family: "Lora" !important;
    text-align: center;
}
.page__inner-wrap h3 {
    font-family: "Lora" !important;
}
.page__inner-wrap h4 {
    font-family: "Lora" !important;
}

.page__inner-wrap ul > li {
    font-family: "Lora" !important;
}

blockquote {
    font-family: 'Hoefler Text', Georgia, serif;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}



